body{
  background-color: rgb(247, 239, 197);
}

/*COISAS DO MENUN*/
*{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;

}
/*body{
  background-image: url("Imagens/back.jpg");
  background-position: bottom;
}*/

@font-face {
  font-family: "Arial Rounded";
  src: url("../barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/ArialRounded.TTF");
}
@font-face {
  font-family: "Cocon Regular";
  src: url("../barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/CoconRegular.otf");
}
.navegador-superior{
  background-color: #01A479;
  width: 100%;
  padding: 10px 15px 10px 15px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  z-index: 10;
}
.navegador-superior>img, .navegador-superior>a>img{
  width: 198px;
  display: inline-block;
}
.navegador-superior>ul{
  float: right;
  margin-top: 5px;
}
.navegador-superior>ul>li{
  list-style-type: none;
  display: inline-block;
}
.link-menu{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Cocon Regular";
  font-size: 30px;
  background-color:rgba(0, 102, 80, 0);
  padding: 18px;
  /*border-radius: 15px;*/
  position: relative;
  box-shadow: inset 0px -100px 0px rgba(0, 102, 80, 0);
  transition: all 300ms;
}
.link-menu:hover{
  background-color: #006650;
  box-shadow: inset 0px -5px 0px rgba(0, 56, 43, 1);
}

.botao-menu-ativo{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Cocon Regular";
  font-size: 30px;
  background-color:rgba(0, 102, 80, 1);
  padding: 18px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  box-shadow: inset 0px -5px 0px rgba(0, 56, 43, 1);
  transition: all 300ms;
}


#login-box{
  position: absolute;
  margin-top: 18px;
  background-color: rgba(0, 102, 80, 1);
  padding: 15px;
  float: right;
  margin-right: 0px;
  font-family: "Cocon Regular";
  color: #fff;
  display: none;
  border-radius: 0px 0px 15px 15px;
  /*border-radius: 15px;*/
  animation-name: fadein;
  animation-duration: 500ms;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
  0%{
    opacity: 0;
    margin-top: -20px;
  }
  100%{
    opacity: 1;
    margin-top: 18px;
  }
}

.insert-text{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom: 2px #fff solid;
  border-right: none;
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
  color: #fff;
}
::-webkit-input-placeholder{
  font-family: "Arial Rounded";
  color: #eee;

}
insert-text:focus, input:focus, select:focus {
  outline: 0;
}


.botoes-acao-menu{
  background-color: #01A479;
  border: none;
  border-radius: 10px;
  font-family: "Arial Rounded";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px;
  box-shadow: inset 0px -50px 0px rgba(0, 56, 43, 0);
  transition: all 300ms;
  cursor: pointer;
  width: 95%;
  text-align: center;
}
.botoes-acao-menu a{
  text-decoration: none;
}
.botoes-acao-menu:hover{
  background-color: #006650;
  box-shadow: inset 0px -3px 0px rgba(0, 56, 43, 1);
}

/*COISAS DO MENUN*/

.conteudo{
  /*background-color: #ccc;*/
  width: 100%;
  height: 50vw;
  /*position: relative;*/
  /*margin-top: 20px;*/
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content{
  width: 50%;
  height: auto;
  /*margin: auto;*/
  /*margin-top: 100px;*/
  /*background: #fff;*/
  text-align: center;
}
.content h1{
  font-family: "Arial Rounded";
  color: #01a479;
}
.content span{
  margin-top: 15px;
  font-size: 19px;
  display: block;
  font-family: "Arial Rounded";
  color: #01a479;
}
.content img{
  width: 300px;
}
.centro{
  /*background-color: #ccc;*/
  width: 70%;
  height: 100vw;
  margin: auto;
  /*text-align: center;*/
}
.linhaInfo{
  width: 100%;
  /*background-color: red;*/
  height: 200px;
}
.esquerda, .esquerdaimage{
  width: 50%;
  /*background-color: #000;*/
  float: left;
  height: 100%;
  min-height: 200px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}
.esquerda img, .esquerdaimage img{
  width: 150px;
}
.esquerdaimage{
  text-align: right;
  margin-right: 20px;
}
.direita{
  /*background-color: #999;*/
  width: 50%;
  height: 100%;
  float: right;
  /*margin-bottom: 10px;*/
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 30px;
  /*margin-left: 45px;*/
  box-sizing: border-box;
  border-left: #01A479 10px solid;
  display: inline-block;
  position: relative;
  font-family: 'Arial Rounded';
  color: #01A479;
  font-size: 15px;
}

.linha{
  background-color: #01A479;
  position: absolute;
  /*margin: 50%;*/
  margin-left: 33%;
  width: 10px;
  height: 100vw;
}

.caixa-total{
  width: 100%;
  background-color: #01A479;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
}
.ala{
  float: left;
  height: 100%;
  width: 310px;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Arial Rounded";
  color: #fff;
}
.ala h1{
  font-family: "Cocon Regular";
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
}
.ala a{
  color: #fff;
  text-decoration: none;
}
.divisor{
  width: 2px;
  height: 100%;
  background-color: #fff;
  float: left;
}
.news{
  background-color: transparent;
  border: none;
  padding: 5px;
  border-bottom: #006650 solid 3px;
  border-radius: 10px;
  width: 65%;
  font-family: "Arial Rounded";
  color: #fff;
  margin-top: 10px;
}
.enviarNews{
  background-color: #01A479;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Arial Rounded";
  padding: 10px;
  /*border-bottom: #006650 solid 3px;*/
  box-shadow: inset 0px -45px 0px rgba(0, 56, 43, 0);
  border-radius: 10px;
  transition: all 300ms;
}
.enviarNews:hover{
  background-color: #006650;
  box-shadow: inset 0px -5px 0px rgba(0, 56, 43, 1);
}
