*{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Arial Rounded";
  src: url("../barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/ArialRounded.TTF");
}

.menu{
  position: fixed;
  width: 100%;
  height: 100vw;
}

body{
  background-color:  rgb(247, 239, 197);
}

.form-content{
  /*background-color: #000;*/
  position: relative;
  /*margin: 160px 0px 0px 100px;*/
  margin-left: 10%;
  margin-top: 150px;
}


.form-content h1{
  font-family: "Arial Rounded";
  font-size: 30px;
  color: #01A479;
  text-transform: uppercase;
}

.insert-text{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom: 3px #01A479 solid;
  border-right: none;
  border-radius: 10px;
  font-family: "Arial Rounded";
  padding: 5px 8px 5px 8px;
  color: #000;
  font-size: 20px;
  width: 310px;
  margin: 20px 0px 20px 0px;
  display: block;
  /*float: left;*/
}
::-webkit-input-placeholder{
  font-family: "Arial Rounded";
  color: rgba(0, 0, 0, 0.3);

}
insert-text:focus, input:focus, select:focus {
  outline: 0;
}

.botoes-acao{
  background-color: #01A479;
  border: none;
  border-radius: 10px;
  font-family: "Arial Rounded";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  box-shadow: inset 0px -50px 0px rgba(0, 56, 43, 0);
  transition: all 300ms;
  cursor: pointer;
  width: 320px;
  /*float: right;*/
  margin-right: 15px;
  text-align: center;
}
.botoes-acao:hover{
  background-color: #006650;
  box-shadow: inset 0px -4px 0px rgba(0, 56, 43, 1);
}

@font-face {
  font-family: "Cocon Regular";
  src: url("../barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/CoconRegular.otf");
}



table {
    width:50%;
    float: right;
    margin-right: 40px;
    margin-top: -340px;
    font-family: "Arial Rounded";
    color: #fff;
}
/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/
th{
  background-color: #006650;
}
tr{
  background-color: #ffc01b;
}
th, td {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

.titulo{
  font-family: "Arial Rounded";
  color: #006650;
  display: block;
  position: absolute;
  margin: 50px 0px 0px 50px;
  font-size: 40px;
}


.caixa-total{
  width: 100%;
  background-color: #01A479;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 153px;
  position: absolute;
}
.ala{
  float: left;
  height: 100%;
  width: 310px;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Arial Rounded";
  color: #fff;
}
.ala h1{
  font-family: "Cocon Regular";
  color: #fff;
  margin-bottom: 10px;
}
.ala a{
  color: #fff;
  text-decoration: none;
}
.divisor{
  width: 2px;
  height: 100%;
  background-color: #fff;
  float: left;
}
.news{
  background-color: transparent;
  border: none;
  padding: 5px;
  border-bottom: #006650 solid 3px;
  border-radius: 10px;
  width: 65%;
  font-family: "Arial Rounded";
  color: #fff;
  margin-top: 10px;
}
.enviarNews{
  background-color: #01A479;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Arial Rounded";
  padding: 10px;
  /*border-bottom: #006650 solid 3px;*/
  box-shadow: inset 0px -45px 0px rgba(0, 56, 43, 0);
  border-radius: 10px;
  transition: all 300ms;
}
.enviarNews:hover{
  background-color: #006650;
  box-shadow: inset 0px -5px 0px rgba(0, 56, 43, 1);
}


/*COISAS MENU*/
@font-face {
  font-family: "Cocon Regular";
  src: url("../barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/CoconRegular.otf");
}
.navegador-superior{
  background-color: #01A479;
  width: 100%;
  padding: 10px 15px 10px 15px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}
.navegador-superior>img{
  width: 15%;
  display: inline-block;
}
.navegador-superior>ul{
  float: right;
  margin-top: 5px;
}
.navegador-superior>ul>li{
  list-style-type: none;
  display: inline-block;
}
.link-menu{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Cocon Regular";
  font-size: 30px;
  background-color:rgba(0, 102, 80, 0);
  padding: 18px;
  border-radius: 15px;
  position: relative;
  box-shadow: inset 0px -100px 0px rgba(0, 102, 80, 0);
  transition: all 300ms;
}
.link-menu:hover{
  background-color: #006650;
  box-shadow: inset 0px -5px 0px rgba(0, 56, 43, 1);
}
