*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "Arial Rounded";
  src: url("barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/ArialRounded.TTF");
}
@font-face {
  font-family: "Cocon Regular";
  src: url("barrasDeNavegacao/barrasDeNavegacaoCSS/fontes/CoconRegular.otf");
}
.caixa-total{
  width: 100%;
  background-color: #01A479;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
}
.ala{
  float: left;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Arial Rounded";
  color: #fff;
}
.ala h1{
  font-family: "Cocon Regular";
  color: #fff;
  margin-bottom: 10px;
}
.ala a{
  color: #fff;
  text-decoration: none;
}
.divisor{
  width: 2px;
  height: 100%;
  background-color: #fff;
  float: left;
}
